<header class="header">
<div class="container">
  <div class="row align-items-center justify-content-between">
    <div class="logo">
      <a routerLink="/"> <img src="../../../assets/images/RPost_Logo.png"> </a>
    </div>
    <input type="checkbox" id="nav-check">
    <label for="nav-check" class="nav-toggler">
      <span></span>
   </label>
    <nav class="nav">
      <ul>
        <li><a routerLink="/home" routerLinkActive="Active">Home</a></li>
        <li><a routerLink="/contactus" routerLinkActive="Active">Contact Us</a></li>
        <li><a routerLink="/logout" routerLinkActive="Active"><i class="fa fa-user"></i>&nbsp;Logout</a></li>
      </ul>
    </nav>
  </div>
</div>
</header>

<section class="mobile-show">
  <div class="container">
    <div class="row side-paddings align-items-center justify-content-between">
        <div class="logo">
          <a routerLink="/"> <img src="../../../assets/images/RPost_Logo.png"> </a>
          </div>
      </div>
      </div>
      </section>